.App{
    display: flex;
    
}
.flowchartWrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    background-size: contain;
}

#declareFlow{
    position: relative;
    height: 7vh;
    width: auto;
    top: 20vh;
    left: calc(5vw + 145px);
}
#inputFlow{
    position: relative;
    height: 6.3vh;
    width: auto;
    top: 17vh;
    left: calc(5vw + 132px);
}
#processFlow{
    position: relative;
    height: 6.3vh;
    width: auto;
    top: 14vh; 
    left: calc(5vw + 152px);
}
#forFlow{
    position: relative;
    height: 6.3vh;
    width: auto;
    top: 11vh;
    left: calc(5vw + 154px);
}
#ifFlow{
    position: relative;
    height: 7.6vh;
    width: auto;
    top: 8vh;  
    left: calc(5vw + 145px);
}
#outputFlow{
    position: relative;
    height: 7vh;
    width: auto;
    top: 4vh;  
    left: calc(5vw + 158px);  
}

